[submodule "Utilities/ThirdParty/glfw"]
	path = Utilities/ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "Utilities/ThirdParty/googletest"]
	path = Utilities/ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "Utilities/ThirdParty/glew"]
	path = Utilities/ThirdParty/glew
	url = https://github.com/nigels-com/glew
[submodule "Utilities/ThirdParty/assimp"]
	path = Utilities/ThirdParty/assimp
	url = https://github.com/assimp/assimp
